.filter {
    display: flex;
    justify-content: flex-end;
    align-items: start;
    width: 50%;
    list-style: none;
    margin-top: 0;
    margin-bottom: 20px;
}

.filter input {
    display: none;
}

.todolist_dragDest {
    width: 1000px;
    height: 6px;
    background-color: lightskyblue;
    position: absolute;
}