.filterButton {
    display: flex;
    position: relative;
    cursor: pointer;
    font-size: 18px;
    user-select: none;
    margin-right: 15px;
    line-height: 100%;
}

.filterButton__checkmark {
    position: relative;
    top: 0;
    left: 0;
    height: 1.3em;
    width: 1.3em;
    background-color: #2196F300;
    border-radius: 0.25em;
    transition: all 0.25s;
}

.filterButton input:checked ~ .filterButton__checkmark {
    background-color: #2196F3;
}

.filterButton__checkmark:after {
    content: "";
    position: absolute;
    transform: rotate(0deg);
    border: 1px solid black;
    left: 0;
    top: 0;
    width: 1.05em;
    height: 1.05em;
    border-radius: 0.25em;
    transition: all 0.25s, border-width 0.1s;
}

.filterButton input:checked ~ .filterButton__checkmark:after {
    left: 0.45em;
    top: 0.25em;
    width: 0.25em;
    height: 0.5em;
    border-color: #fff0 white white #fff0;
    border-width: 0 0.15em 0.15em 0;
    border-radius: 0;
    transform: rotate(45deg);
}