@font-face {
  font-family: "HSGooltokki";
  src: url("https://fastly.jsdelivr.net/gh/projectnoonnu/noonfonts_2210-2@1.0/HSGooltokki.woff2")
    format("woff2");
  font-weight: normal;
  font-style: normal;
}
:root {
  --yellow: #fffca5;
  --darkblue: #00083b;
  --orange: #ff4b15;
}
* {
  margin: 0;
}
body {
  background-color: var(--darkblue);
}
button {
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  font-family: "HSGooltokki";
  background-color: transparent;
}

h1 {
  font-family: "HSGooltokki";
  font-size: 42px;
  color: var(--orange);
}
