.clear-completed {
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
  font-weight: 300;
  background-color: #fff;
  border: none;
  cursor: pointer;
}

.clear-completed:hover {
  text-decoration: underline;
}
