
.todoList {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 8px;
    color: #666666;
}

.todo-item-wrapper {
    width: 400px;
    display:flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    border-bottom: 1px solid #F5F5DC;
    border-radius: 5px;
}

.todo-item {
    flex: 1;
    overflow: hidden; 
    white-space: nowrap; 
    text-overflow: ellipsis; 
    font-size:x-large;
  }

.todoList input[type="checkbox"] {
    appearance: none;
    width:20px;
    height: 20px;
    border: 2px solid #F5F5DC;
    border-radius: 5px;
    cursor: pointer;
    transition: border-color 0.3s;
    margin-right: 10px;
}
.todoList input[type="checkbox"]:checked {
    background-color: #F5F5DC;
    border-color: #F5F5DC;
}
.todoList button {
    background-color: #fff;
    color: #999999;
    font-weight: bold;
    border: none;
    padding: 5px 9px;
    border-radius: 50%;
    cursor: pointer;
    text-decoration: none;
    transition: background-color 0.3s;

}

.todoList button:hover {
    background-color: #f8f9fa;
}
