header {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
}

.MainContentsLayout {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 2rem 0;
	width: 100%;
}
