.Header {
  width: 100%;
  background-color: aqua;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
}

.Header p:nth-child(1) {
  font-size: 50px;
}

.Header p:nth-child(2) {
  font-size: 25px;
}
