.inputContainer {
    position: relative;
    width: 700px; 
}
.userInput{
    width: 700px;
    height: 80px;
    border: none;
    outline: none;
    font-size: 30px;
    padding-left: 70px;
    box-shadow: 0 4px 8px rgba(0,0,0,.2);
    box-sizing: border-box;
}
.userInput:focus{
    box-shadow: 0 0 8px #FFBBCC;
}
.addButton {
    position: absolute;
    top: 20px;
    right: 20px; 
    height: 40px; 
    border: none;
    background-color: #999;
    color: white;
    padding: 10px 20px;
    font-size: 20px;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, .2);
}
.addButton:hover {
    background-color: #FFBBCC;
}