.item {
    position: relative;
    margin-top : 15px;
    background-color: white;
    width : 420px;
    height: 40px;
    border-radius: 10px;
    display :flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 1px 2px 3px 1px #ff8a8a;
}

.item .check-box {
    margin-left : 20px;
}


.unchecked{
    margin-left : 20px;
    font-size: 15px;
    font-weight: 400;
}

.checked{
    margin-left : 20px;
    font-size: 15px;
    font-weight: 400;
    color : gray;
    text-decoration: line-through;
}

.btnDelete {
    position : absolute;
    right : 15px;
    width : 50px;
    height: 30px;
    background-color: #ff8a8a;
    border : none;
    border-radius: 8px;
    color :white;
    font-weight : 500;
    font-size : 14px;
}