.todoListFooterDiv{
    display: flex;
    justify-content:space-between;
    align-items: center;
    padding: 0 15px;
}
.listStateBtnDiv {
    display: flex;
    justify-content: center;
}
.todoListFooterDiv button{
    background-color: #FFF;
    height: 40px;
    border: 2px solid transparent;
    box-sizing: border-box;
    font-size: 18px;
}
.todoListFooterDiv button:hover{
    cursor: pointer;
}
.listStateBtn{
    margin-left: 10px;
}
.listStateBtn:hover,
.listStateBtn:focus{
    border: 2px solid #FFBBCC;
    border-radius: 4px;
}
.clearBtn:hover{
    text-decoration: underline;
}