.todoListItemField{
    width: 700px;
    box-sizing: border-box;
}
ul{
    background-color: #FFF;
    margin: 0;
    padding: 0;
}
.listItem{
    position: relative;
    width: 700px;
    height: 80px;
    font-size: 30px;
    display: flex;
    align-items: center;
    border: 1px solid #DDD;
}
.checkBox{
    width: 50px;
    height: 50px;
    margin-right: 15px;
}
.checkBox:checked + span{
    text-decoration: line-through;
    color: #686D76;
}
.deleteButton{
    position: absolute;
    width: 50px;
    height: 50px;
    right:20px;
    border: none;
    background-color: #FFF;
    color: #686D76;
    font-size: 20px;
    font-weight: 700;
}
.deleteButton:hover{
    color: #FFBBCC;
}