.container {
  width: 500px;
  max-width: calc(100dvw - 20px);
  min-height: calc(100dvh - 200px);
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}
.inputContainer {
  width: 100%;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.todoBox {
  width: 100%;
  flex-grow: 1;
}
.todoInput {
  width: 100%;
  height: 40px;
  font-size: 20px;
  padding-left: 10px;
  border-radius: 15px;
  border: #ececec 2px solid;
}
.todoInput:focus {
  outline: none;
}
.todoBtnBar {
  display: flex;
  margin-top: 20px;
  justify-content: space-between;
}
.todoBtnContainer {
  display: flex;
  gap: 2px;
}
.todoBtn {
  background-color: white;
  padding: 4px 8px;
  border-radius: 4px;
  cursor: pointer;
  border: transparent 1px solid;
  box-sizing: border-box;
}
.todoBtnSelected {
  border: black 1px solid;
}
.clearText {
  cursor: pointer;
}
.todoItem {
  width: 100%;
  display: flex;
  height: 60px;
  border: 1px solid #ececec;
  gap: 2px;
  margin-bottom: 2px;
}
.todoItem:nth-last-child(2) {
  margin-bottom: 0;
}
.todoCheckbox {
  margin: 0 10px 0 20px;
  width: 20px;
}
.todoContent {
  flex-grow: 1;
  line-height: 60px;
  user-select: none;
  font-size: 18px;
}
.todoCloseIcon {
  margin-right: 10px;
  cursor: pointer;
  display: none;
}
.todoItem:hover .todoCloseIcon {
  display: block;
}
