.text-input {
  font-family: 'Roboto', sans-serif;
  display: block;
  width: 550px;
  height: 65px;
  background: rgba(0, 0, 0, 0.003);
  border: none;
  box-shadow: inset 0 -2px 1px rgba(0, 0, 0, 0.03);
  height: 65px;
  padding: 16px 16px 16px 60px;
  margin: 0 auto;
  outline: none;
  font-size: 24px;
  font-style: italic;
  font-weight: 300;
  margin: 0 auto;
}
