.TodoThing{
    display: flex;
    align-items: center;
    gap: 20px;
    padding-bottom: 20px;
    border: 1px solid lightblue;
    border-radius: 5px;
    justify-content: space-between;  
}

.TodoThing input{
    cursor: pointer;
    width: 30px;
}
.TodoThing .item{
    cursor : pointer;
}

.TodoThing .item{
    flex: 1;
}
.deletebtn{
    border: 1px;
    border-radius: 50px;
    background: transparent; 
    border: none; 
    cursor: pointer;
}