/* BODY */
body {
    font: 14px 'Helvetica Neue', Helvetica, Arial, sans-serif;
    line-height: 1.4em;
    background: #f5f5f5;
    color: #4d4d4d;
    min-width: 250px;
    max-width: 550px;
    margin: 0 auto;
    font-weight: 300;
    padding: 50px 0;
}
  