.input {
  display: flex;
  width: 100%;
  border-radius: 0.3rem;
  border: solid var(--border-color);
  font-size: small;
}

.input:focus-visible {
  outline: none;
  box-shadow: 0 0 0 1px var(--placeholder-color);
}

.input::placeholder {
  color: var(--placeholder-color);
}

/* 기본 checkbox ui 숨기기 */
.input-checkbox:not(:checked),
.input-checkbox:checked {
  position: absolute;
  opacity: 0;
  width: fit-content;
}
/* label에 체크박스 영역 설정*/
.input-checkbox:not(:checked) + label,
.input-checkbox:checked + label {
  position: relative;
  padding-left: 2em;
  cursor: pointer;
}
/* label 앞에 checkbox ui 그리기 - 체크 전 */
.input-checkbox:not(:checked) + label:before,
.input-checkbox:checked + label:before {
  content: "";
  position: absolute;
  left: 0;
  width: 1.5em;
  height: 1.5em;
  border: 1px solid var(--primary-color);
  border-radius: 0.2em;
}
/* label 앞에 checkbox ui 그리기 - 체크 후 */
.input-checkbox:checked + label::before {
  content: "✓";
  font-weight: 600;
  color: var(--primary-color);
  background-color: var(--border-color);
}
